*{

box-sizing: border-box; /*TO MAKE SURE THAT THE PADDING AND BORDER ARE INCLUDED IN THE TOTAL WIDTH AND HEIGHT OF THE ELEMENTS*/
}
/*IF THE SECREEN SIZE IS LESS THAN 768px*/


h1 {                  /*TO DESIGN H1 ELEMENT*/

  width: 100%;         /*TO SET THE PLACE IT WILL TAKE ON THE SCREEN TO 100%*/
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  font-style: oblique;  /*TO MAKE THE FONT STYLE OBLIQUE*/
  font-size: 3em;      /*THE FONT SIZE 4 EM*/
  color:  #001a4d;      /*TO MAKE THE H1 ELEMENT COLOR DARK BLUE*/
  margin-top: 120px;    /*TO SET THE H1 ELEMENT AND TOP OF THE PAGE SPACE TO 120PX*/
  font-weight: 900;     /*TO MAKE H1 ELEMENT BOLD*/
}

body {                            /*TO DESIGN BODY SECTION*/

  background-image: url(indexBackground.png);     /*TO SET PAGE BACKGROUND IMAGE*/
  background-repeat: no-repeat;     /*TO MAKE IT NO-REPEAT, SO WE ONLY HAVE ONE IMAGE ON THE BACKGROUND NOT CONTINUE WITH THE SAME IMAGE WHEN SCREEN SIZE GETS BIGGER*/
  background-size: cover;           /*TO MAKE PICTURE COVER THE WHOLE BACKGROUND*/
  background-position: center;      /*TO SET THE IMAGE CENTER OF THE WEBSITE*/
}

.button {                     /*TO DESIGN BUTTON CLASS*/

  width: 90%;                   /*SETTING THE WIDTH 85% FOR THE SECREEN*/
  float: left;                  /*TO MAKE THE TEXTS ON THE LEFT SIDE OF THE CONTAINER*/
  position: relative;           /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
  right: 25px;
}

.main {               /*TO DESIGN DIV CLASS CALLED MAIN*/

  width: 90%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
  color: black;     /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
  font-size: 20px;     /*TO SET THE FONT SIZE TO 2EM*/
  margin-top: 400px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
  position: relative;   /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
}

form {                     /*TO DESIGN THE DIV CLASS FORM*/

  width: 50%;
  color: Black;              /*TO MAKE THE FONT COLOR BLACK */
  font-size: 1em;            /*TO SET FONT SIZE TO 1EM*/
  background-color: red;  /*TO SET THE BACKGROUND COLOR RED*/
  padding: 0px 10px;         /*TO SET THE PADDING BETWEEN THE TEXT AND BACKGROUND*/
  opacity: 0.5;              /*TO SET THE TRANSPARENCY LEVEL TO THE SECTION*/
  filter: alpha(opacity=50);
}

form:hover {                /*TO SET THE OPACITY ON MOUSE OVER FOR DIV CLASS FORM*/

  opacity: 1.0;               /*SECTION IS NOT TRANSPERENT ANYMORE*/
  filter: alpha(opacity=100);
}

a:link, a:visited  {        /*TO DESIGN A ELEMENTS IN THE WEBSITE*/

  background-color: #004080;  /*TO SET BACKGROUND COLOR TONE OF BLUE*/
  color: white;               /*TO SET THE FONT COLOR*/
  padding: 20px 30px;         /*TO SET THE PADDING FOR BUTTONS*/
  text-align: center;         /*TO PUT THE TEXT TO THE CENTRE OF THE BUTTON (30PX 40PX)*/
  text-decoration: none;      /*BECAUSE THEY ARE LINK TO OTHER WEBSITES NOT USING ANY TEXT DECORATION LIKE UNDERLINE*/
  display: inline-block;      /*TO SET THE BUTTONS NEXT TO EACHOTHER*/
  position: relative;         /*TO PUT THE BUTTONS IN A LINE*/
  font-weight: bold;          /*TO MAKE THE FONT BOLD*/
  right: 10px;
}

a:hover, a:active {         /*TO DESIGN A ELEMENTS WHEN MOUSE-OVER*/

  background-color: #001a66;  /*TO MAKE BACKGROUND COLOR DARKER BLUE THAN PREVIOUS COLOR*/
}

footer {            /*TO DESIGN FOOTER SECTION*/

  float: right;       /*TO MAKE THE TEXTS ON THE RIGHT SIDE OF THE CONTAINER*/
  color: white;       /*TO SET THE FONT COLOR TO WHITE*/
  font-size: 100%;     /*TO SET THE FONT SIZE TO 2EM*/
  position: relative; /*TO MAKE IT POSITIONED ON ITS NORMAL POSITION*/
  text-align: center; /*TO MAKE THE TEXT STAY IN THE CENTER OF THE CONTAINER*/
  font-weight: bold;  /*TO MAKE THE FONT BOLD*/
  margin-right: 90px; /*TO SET THE SPACE BETWEEN RIGHT SIDE OF THE CONTAINER AND TEXT TO 90PX;*/
}

.nobullet {                 /*TO DESIGN UL CLASS nobullet*/

  list-style-type: none;      /*TO ERASE ALL THE BULLETS*/
  margin-bottom: 100px;
}

span {                 /*TO DESING SPAN ELEMENT*/

  position: absolute;    /*TO POSITION THE ELEMENT RELATIVE TO ITS FIRST POSITIONED ANCESTOR ELEMENT*/
  color: WHITE;          /*TO MAKE THE FONT COLOR WHITE*/
  font-size: 30%;       /*TO MAKE THE FONT SİZE 150%*/
  top:  30px;            /*TO MAKE THE SPACE BETWEEN TOP AND THE PARAGRAPGH 30PX*/
  font-style: oblique;   /*TO MAKE THE FONT STYLE OBLIQUE*/
  width: 100%;
  position: absolute;    /*TO POSITION THE ELEMENT RELATIVE TO ITS FIRST POSITIONED ANCESTOR ELEMENT*/
  left: 10px;            /*TO MAKE THE SPACE BETWEEN LEFT AND THE PARAGRAPGH 50PX*/
}

.social2 {                  /*TO DESIGN THE DIV CLASS CALLED SOCIAL*/

  width: 50%;
  color: black;              /*TO SET THE FONT COLOR TO BLACK*/
  background-color: orange;  /*TO SET THE BACKGROUND COLOR OF THE TEXT TO ORANGE*/
  padding: 0px 5px;         /*TO SET THE PADDING BETWEEN THE TEXT AND BACKGROUND*/
  opacity: 0.5;              /*TO SET THE TRANSPARENCY LEVEL TO THE SECTION*/
  filter: alpha(opacity=50);
  margin-left: auto;
  margin-right: auto;
  position: display;
}

.social2:hover {            /*TO DESIGN A ELEMENTS WHEN MOUSE-OVER*/

  opacity: 1.0;              /*TO ERASE THE TRANSPARENCY ON THE TEXT*/
  filter: alpha(opacity=100);
}

.social1 {                 /*TO DESIGN THE CLASS CALLED SOCIAL 1*/

  display: flex;             /*TO MAKE ALL THE FLEXIBLE ITEMS THE SAME LENGTH*/
}

.column {                  /*TO DESIGN THE CLASS CALLED COLUMN*/

  flex: 20%;                 /*TO SET THE FLEX TO 50%*/
  padding: 10px;
  height: 300px;
}

footer {

  width: 100%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
  float: left;       /*TO MAKE THE TEXTS ON THE LEFT SIDE OF THE CONTAINER*/
  color: white;     /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
  font-size: 1em;     /*TO SET THE FONT SIZE TO 2EM*/
  margin-top: 20px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
  margin-left: 0px;  /*THE SPACE BETWEEN LEFT SIDE OF THE SCREEN AND TEXT*/
  font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
  position: relative;   /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
}

@media only screen and (min-width: 600px) { /*IF THE SECREEN SIZE IS MORE THAN 608*/


h1 {                  /*TO DESIGN H1 ELEMENT*/

  text-align: center;  /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
  font-size: 7em;       /*TO SET THE H1 ELEMENT FONT SIZE 7EM*/
  font-weight: 900;    /*TO MAKE H1 ELEMENT BOLD*/
}

p {

  margin-top: 50px;
}

h3{

  margin-top: 50px;
}

.main {               /*TO DESIGN DIV CLASS CALLED MAIN*/
 margin-top: 300px;
  width: 90%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
  color: black;
}

.button  {            /*TO DESIGN DIV CLASS BUTTONS POSITION*/

  width: 50%;           /*TO SET THE WIDTH OF THE BUTTON TO %25 SO IT WILL FIT 25% OF THE SCREEN*/
  float: left;          /*TO PLACE THE BUTTON ON THE LEFT SIDE OF ITS CONTAINER*/
  position: relative;   /*TO PUT ALL THE BUTTONS NEXT TO EACHOTHER*/
}
}

@media only screen and (min-width: 1200px) { /*IF THE SECREEN SIZE IS MORE THAN 1200px*/

h1 {                  /*TO DESIGN H1 ELEMENT*/

  text-align: center;  /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
  font-size: 7em;       /*TO SET THE H1 ELEMENT FONT SIZE 7EM*/
  font-weight: 900;    /*TO MAKE H1 ELEMENT BOLD*/
}

.main {             /*TO DESIGN THE DIV CLASS CALLED MAIN*/

  width: 80%;           /*THE SPACE IT WILL TAKE ON THE BROWSER WINDOW*/
  color: black;         /*TO CHANGE THE TEXT COLOR TO BLACK*/
  text-align: center;  /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
  margin-top: 100px;
  font-size: 30px;     /*TO SET THE FONT SIZE TO 2EM*/
  margin-top: 0px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  position:static;
  font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
}

span {

  color: white;          /*TO MAKE THE FONT COLOR WHITE*/
  font-size: 140%;       /*TO MAKE THE FONT SİZE 140%*/
  top:  50px;            /*TO MAKE THE SPACE BETWEEN TOP AND THE PARAGRAPGH 50PX*/
  font-style: oblique;
}

p {

  margin-top: 250px;
}

.button  {            /*TO DESIGN DIV CLASS BUTTONS POSITION*/

  width: 25%;           /*TO SET THE WIDTH OF THE BUTTON TO %25 SO IT WILL FIT 25% OF THE SCREEN*/
  float: left;          /*TO PLACE THE BUTTON ON THE LEFT SIDE OF ITS CONTAINER*/
  position: relative;   /*TO PUT ALL THE BUTTONS NEXT TO EACHOTHER*/
}

.social1 {            /*TO DESIGN THE CLASS CALLED SOCIAL1*/

  width: 100%;          /*MAKE THE ELEMENT WIDTH ON THE SCREEN 100%*/
  display: flex;        /*TO MAKE ALL THE FLEXIBLE ITEMS THE SAME LENGTH*/
  text-align: center;   /*TO POSITION THE TEXT TO CENTRE*/
  padding-left: 100px;
}

footer {

  width: 50%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
  color: white;     /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
  font-size: 1em;     /*TO SET THE FONT SIZE TO 2EM*/
  margin-top: 20px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
  margin-left: auto;  /*THE SPACE BETWEEN LEFT SIDE OF THE SCREEN AND TEXT*/
  margin-right: auto; /*THE SPACE BETWEEN RIGHT SIDE OF THE SCREEN AND THE TEXT*/
  text-align: center;
  font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
  display: block;
}
